
body{
    background-color: white;
    background-image: url(giphy.gif)
};
.header{
background-color:lightgrey;
text-align: center;
font-family: 'EB Garamond', serif;
};
.jumbotron{
background:none   
}
